In [11]:
import pandas as pd
import numpy as np

In [12]:
pd.set_option('display.max_columns', None)

### 1. Import scores per school

In [13]:
path='/Users/juanmalagon/Desktop/Malagon-Haelermans/ftpdbicfes/4. Saber11/4. Clasificación de Planteles/'
df_2018_2 = pd.read_table(path + 'SB11-CLASIFI-PLANTELES-20182.txt'
                          , engine='python'
                          , encoding='utf-8'
                          , sep='¬'
                          , decimal=','
                          , dtype={'COLE_COD_DANE':'object'}
                          )
df_2018_1 = pd.read_table(path + 'SB11-CLASIFI-PLANTELES-20181.txt'
                          , engine='python'
                          , encoding='latin-1'
                          , sep='[\|\t]'
                          , decimal='.'
                          , dtype={'COLE_COD_DANE':'object'}                          
                          ).dropna(axis=1, how='all')

df_2018 = df_2018_1.append(df_2018_2)

In [14]:
df_2018

,PERIODO,COLE_COD_DANE,COLE_INST_NOMBRE,COLE_CODMPIO_COLEGIO,COLE_MPIO_MUNICIPIO,COLE_COD_DEPTO,COLE_DEPTO_COLEGIO,COLE_NATURALEZA,COLE_GRADO,COLE_CALENDARIO_COLEGIO,COLE_GENEROPOBLACION,MATRICULADOS_ULTIMOS_3,EVALUADOS_ULTIMOS_3,INDICE_MATEMATICAS,INDICE_C_NATURALES,INDICE_SOCIALES_CIUDADANAS,INDICE_LECTURA_CRITICA,INDICE_INGLES,INDICE_TOTAL,COLE_CATEGORIA
0,20181,308001074789,AMERICAN SCHOOL,8573,PUERTO COLOMBIA,8,ATLANTICO,NO OFICIAL,11,B,MI,77,76,0.8184,0.8297,0.8215,0.8145,0.9203,0.8287,A+
1,20181,308573000450,INSTITUCION EDUCATIVA ASPAEN GIMNASIO ALTAMAR ...,8573,PUERTO COLOMBIA,8,ATLANTICO,NO OFICIAL,11,B,M,34,34,0.8173,0.8321,0.8212,0.8125,0.9068,0.8274,A+
2,20181,308001073952,COLEGIO ALTAMIRA,8573,PUERTO COLOMBIA,8,ATLANTICO,NO OFICIAL,11,B,MI,127,120,0.8870,0.8848,0.8731,0.8633,0.9562,0.8832,A+
3,20181,308001101153,COLEGIO BRITANICO INTERNACIONAL,8573,PUERTO COLOMBIA,8,ATLANTICO,NO OFICIAL,11,B,MI,164,159,0.8626,0.8581,0.8374,0.8402,0.9496,0.8573,A+
4,20181,308573074909,COLEGIO SAN JOSÉ,8573,PUERTO COLOMBIA,8,ATLANTICO,NO OFICIAL,11,B,MI,248,238,0.8541,0.8493,0.8423,0.8378,0.9217,0.8517,A+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9145,20182,411001800116,ACADEMIA MILITAR MARISCAL SUCRE,11001,BOGOTÁ D.C.,11,BOGOTA,NO OFICIAL,11,A,MI,80,79,0.7697,0.7480,0.7270,0.7586,0.7699,0.7523,A
9146,20182,108001800065,INSTITUCION EDUCATIVA DISTRITAL VILLAS DE SAN ...,8001,BARRANQUILLA,8,ATLANTICO,OFICIAL,11,A,MI,68,59,0.6254,0.6244,0.5703,0.6692,0.6282,0.6228,C
9147,20182,344001005163,INSTITUCION EDUCATIVA FRANCISCO DE ASIS S.A.S.,44001,RIOHACHA,44,LA GUAJIRA,NO OFICIAL,26,A,MI,35,30,0.4685,0.5177,0.5197,0.5927,0.5655,0.5278,D
9148,20182,113001800263,INSTITUCION EDUCATIVA EL SALVADOR,13001,CARTAGENA DE INDIAS,13,BOLIVAR,OFICIAL,11,A,MI,214,183,0.5610,0.5725,0.5135,0.6234,0.5659,0.5674,D
9149,20182,415764800015,INSTITUCION EDUCATIVA GABRIEL GARCIA MARQUEZ,15764,SORACÁ,15,BOYACA,NO OFICIAL,11,A,MI,26,25,0.7348,0.7529,0.7316,0.7600,0.7568,0.7457,A

### 2. Verify primary key integrity

In [15]:
len(df_2018_1), len(df_2018_1.COLE_COD_DANE.unique())

(281, 281)

In [16]:
len(df_2018_2), len(df_2018_2.COLE_COD_DANE.unique())

(9150, 8709)

In [17]:
df_2018[df_2018.duplicated(subset='COLE_COD_DANE', keep=False)].sort_values(by='COLE_COD_DANE')

,PERIODO,COLE_COD_DANE,COLE_INST_NOMBRE,COLE_CODMPIO_COLEGIO,COLE_MPIO_MUNICIPIO,COLE_COD_DEPTO,COLE_DEPTO_COLEGIO,COLE_NATURALEZA,COLE_GRADO,COLE_CALENDARIO_COLEGIO,COLE_GENEROPOBLACION,MATRICULADOS_ULTIMOS_3,EVALUADOS_ULTIMOS_3,INDICE_MATEMATICAS,INDICE_C_NATURALES,INDICE_SOCIALES_CIUDADANAS,INDICE_LECTURA_CRITICA,INDICE_INGLES,INDICE_TOTAL,COLE_CATEGORIA
418,20182,105001000795,INST EDUC ALFREDO COCK ARANGO,5001,MEDELLÍN,5,ANTIOQUIA,OFICIAL,11,A,MI,153,148,0.6694,0.6764,0.6842,0.7255,0.6988,0.6897,B
419,20182,105001000795,INST EDUC ALFREDO COCK ARANGO,5001,MEDELLÍN,5,ANTIOQUIA,OFICIAL,26,A,MI,212,174,0.5313,0.5436,0.5348,0.6154,0.5797,0.5581,D
360,20182,105001011690,INST EDUC FEDERICO CARRASQUILLA,5001,MEDELLÍN,5,ANTIOQUIA,OFICIAL,11,A,MI,141,128,0.7054,0.6869,0.6896,0.7250,0.6933,0.7011,B
361,20182,105001011690,INST EDUC FEDERICO CARRASQUILLA,5001,MEDELLÍN,5,ANTIOQUIA,OFICIAL,26,A,MI,114,100,0.5262,0.5477,0.5350,0.6157,0.5317,0.5543,D
4133,20182,105001015211,INST EDUC LA LIBERTAD,5001,MEDELLÍN,5,ANTIOQUIA,OFICIAL,11,A,MI,85,76,0.6347,0.6353,0.6027,0.6338,0.6090,0.6253,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,20182,476020000249,IE ARTURO GOMEZ JARAMILLO,76020,ALCALÁ,76,VALLE,OFICIAL,11,A,MI,102,101,0.6011,0.6238,0.6171,0.6682,0.5978,0.6252,C
7397,20182,476736000258,IE HERACLIO URIBE URIBE,76736,SEVILLA,76,VALLE,OFICIAL,26,A,MI,83,72,0.5441,0.5765,0.5575,0.6116,0.5486,0.5706,D
7396,20182,476736000258,IE HERACLIO URIBE URIBE,76736,SEVILLA,76,VALLE,OFICIAL,11,A,MI,132,126,0.7133,0.7337,0.7273,0.7400,0.6699,0.7241,A
7889,20182,525843000017,INSTITUCIÒN EDUCATIVA DEPARTAMENTAL BRUSELAS,25843,VILLA DE SAN DIEGO DE UBATÉ,25,CUNDINAMARCA,OFICIAL,11,A,MI,85,80,0.6810,0.6920,0.6555,0.6995,0.6482,0.6794,B
7890,20182,525843000017,INSTITUCIÒN EDUCATIVA DEPARTAMENTAL BRUSELAS,25843,VILLA DE SAN DIEGO DE UBATÉ,25,CUNDINAMARCA,OFICIAL,26,A,MI,23,21,0.5169,0.5418,0.5426,0.5926,0.5570,0.5492,D

In [18]:
df_2018 = df_2018[df_2018['COLE_GRADO']==11]

In [19]:
len(df_2018), len(df_2018.COLE_COD_DANE.unique())

(8862, 8860)

In [20]:
df_2018 = df_2018.drop_duplicates(subset='COLE_COD_DANE')

In [21]:
len(df_2018), len(df_2018.COLE_COD_DANE.unique())

(8860, 8860)

### 3. Import schools' features

In [22]:
path = "/Users/juanmalagon/Desktop/Malagon-Haelermans/dane/educacion_formal_2018/"

computing = pd.read_csv(path + 'Tenencia y numero de equipos de computo por sede educativa.csv'
                        , sep=';'
                        , encoding = 'UTF-8'
                        , dtype={'SEDE_CODIGO':'object'}
                       )

In [23]:
computing

,SEDE_CODIGO,PERIODO_ID,PERIODO_ANIO,EQUIPOCOM_ID,EQUIPOCOM_CODIGO,EQUIPOCOM_NOMBRE,SEDECOM_CANTIDAD,SEDECOM_CANT_SINUSO
0,154001000117,5,2018,2,2,Computadores portátiles,20,0
1,108001076219,5,2018,1,1,Computadores de escritorio,2,0
2,108001076219,5,2018,2,2,Computadores portátiles,22,0
3,108001076219,5,2018,3,3,Tabletas,17,0
4,154001000117,5,2018,3,3,Tabletas,30,0
...,...,...,...,...,...,...,...,...
80867,376001005758,5,2018,1,1,Computadores de escritorio,25,5
80868,376001005758,5,2018,2,2,Computadores portátiles,3,0
80869,252835002861,5,2018,3,3,Tabletas,20,0
80870,252835000591,5,2018,3,3,Tabletas,30,0
80871,252835003930,5,2018,3,3,Tabletas,20,0

### 4. Pivot the features

In [24]:
computing = computing[['SEDE_CODIGO', 'EQUIPOCOM_NOMBRE', 'SEDECOM_CANTIDAD', 'SEDECOM_CANT_SINUSO']].groupby(by=['SEDE_CODIGO', 'EQUIPOCOM_NOMBRE']).sum().reset_index()

In [25]:
computing = computing.pivot(index=['SEDE_CODIGO'], columns=['EQUIPOCOM_NOMBRE'], values=['SEDECOM_CANTIDAD', 'SEDECOM_CANT_SINUSO'] ).reset_index().fillna(0)

In [26]:
computing.columns = [' '.join(col).strip() for col in computing.columns]

In [28]:
computing

,SEDE_CODIGO,SEDECOM_CANTIDAD Computadores de escritorio,SEDECOM_CANTIDAD Computadores portátiles,SEDECOM_CANTIDAD Tabletas,SEDECOM_CANT_SINUSO Computadores de escritorio,SEDECOM_CANT_SINUSO Computadores portátiles,SEDECOM_CANT_SINUSO Tabletas
0,105001000001,39.0,52.0,0.0,0.0,0.0,5.0
1,105001000027,21.0,28.0,0.0,0.0,0.0,0.0
2,105001000043,41.0,54.0,12.0,23.0,0.0,7.0
3,105001000078,21.0,40.0,9.0,1.0,0.0,0.0
4,105001000094,22.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
44686,499001001919,30.0,30.0,60.0,0.0,0.0,0.0
44687,499760000803,0.0,10.0,0.0,0.0,0.0,0.0
44688,499760000994,2.0,6.0,0.0,14.0,3.0,0.0
44689,499760001109,1.0,11.0,0.0,0.0,0.0,0.0
44690,499760001125,0.0,10.0,20.0,0.0,2.0,0.0

### 5. Verify primary key integrity

In [29]:
len(computing), len(computing.SEDE_CODIGO.unique())

(44691, 44691)

### 6. Join dataframes of scores and features

In [30]:
toy_set = pd.merge(
    left=df_2018
    ,right=computing
    , how='inner'
    , left_on='COLE_COD_DANE'
    , right_on='SEDE_CODIGO'
)

### 7. Drop redundant data / data not used in the mockup

In [31]:
toy_set.columns

Index(['PERIODO', 'COLE_COD_DANE', 'COLE_INST_NOMBRE', 'COLE_CODMPIO_COLEGIO',
       'COLE_MPIO_MUNICIPIO', 'COLE_COD_DEPTO', 'COLE_DEPTO_COLEGIO',
       'COLE_NATURALEZA', 'COLE_GRADO', 'COLE_CALENDARIO_COLEGIO',
       'COLE_GENEROPOBLACION', 'MATRICULADOS_ULTIMOS_3', 'EVALUADOS_ULTIMOS_3',
       'INDICE_MATEMATICAS', 'INDICE_C_NATURALES',
       'INDICE_SOCIALES_CIUDADANAS', 'INDICE_LECTURA_CRITICA', 'INDICE_INGLES',
       'INDICE_TOTAL', 'COLE_CATEGORIA', 'SEDE_CODIGO',
       'SEDECOM_CANTIDAD Computadores de escritorio',
       'SEDECOM_CANTIDAD Computadores portátiles', 'SEDECOM_CANTIDAD Tabletas',
       'SEDECOM_CANT_SINUSO Computadores de escritorio',
       'SEDECOM_CANT_SINUSO Computadores portátiles',
       'SEDECOM_CANT_SINUSO Tabletas'],
      dtype='object')

In [32]:
# Redundant

toy_set = toy_set.drop(columns=['PERIODO'
                                , 'COLE_INST_NOMBRE'
                                , 'COLE_CODMPIO_COLEGIO'
                                , 'COLE_COD_DEPTO'
                                , 'COLE_GRADO'
                                , 'SEDE_CODIGO'
                               ]
                      )

In [33]:
# Detailed scores per subject

toy_set = toy_set.drop(columns=['INDICE_MATEMATICAS'
                                , 'INDICE_C_NATURALES'
                                , 'INDICE_SOCIALES_CIUDADANAS'
                                , 'INDICE_LECTURA_CRITICA'
                                , 'INDICE_INGLES'
                               ]
                      )

In [34]:
# Aggregate features

toy_set['DESKTOPS'] = toy_set['SEDECOM_CANTIDAD Computadores de escritorio'] - toy_set['SEDECOM_CANT_SINUSO Computadores de escritorio']
toy_set['LAPTOPS'] = toy_set['SEDECOM_CANTIDAD Computadores portátiles'] - toy_set['SEDECOM_CANT_SINUSO Computadores portátiles']
toy_set['TABLETS'] = toy_set['SEDECOM_CANTIDAD Tabletas'] - toy_set['SEDECOM_CANT_SINUSO Tabletas']

In [35]:
toy_set = toy_set.drop(columns=['SEDECOM_CANTIDAD Computadores de escritorio'
                                ,'SEDECOM_CANTIDAD Computadores portátiles'
                                , 'SEDECOM_CANTIDAD Tabletas'
                                , 'SEDECOM_CANT_SINUSO Computadores de escritorio'
                                , 'SEDECOM_CANT_SINUSO Computadores portátiles'
                                , 'SEDECOM_CANT_SINUSO Tabletas'
                               ]
                      )

In [36]:
# Check number of cities

len(toy_set.COLE_MPIO_MUNICIPIO.unique())

1009

In [37]:
# Remove exploding categorical variables

toy_set.drop(columns='COLE_MPIO_MUNICIPIO', inplace=True)

In [38]:
toy_set.set_index(keys='COLE_COD_DANE'
                  , inplace=True
                  , drop=True
                  , verify_integrity=True
                 )

In [40]:
toy_set

,COLE_DEPTO_COLEGIO,COLE_NATURALEZA,COLE_CALENDARIO_COLEGIO,COLE_GENEROPOBLACION,MATRICULADOS_ULTIMOS_3,EVALUADOS_ULTIMOS_3,INDICE_TOTAL,COLE_CATEGORIA,DESKTOPS,LAPTOPS,TABLETS
COLE_COD_DANE,,,,,,,,,,,
308001074789,ATLANTICO,NO OFICIAL,B,MI,77,76,0.8287,A+,43.0,3.0,0.0
308573000450,ATLANTICO,NO OFICIAL,B,M,34,34,0.8274,A+,15.0,37.0,13.0
308001073952,ATLANTICO,NO OFICIAL,B,MI,127,120,0.8832,A+,82.0,99.0,8.0
308573074909,ATLANTICO,NO OFICIAL,B,MI,248,238,0.8517,A+,223.0,170.0,25.0
308001011353,ATLANTICO,NO OFICIAL,B,MI,48,48,0.7959,A+,25.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
415764800023,BOYACA,NO OFICIAL,A,MI,15,15,0.7369,A,7.0,0.0,0.0
411001800116,BOGOTA,NO OFICIAL,A,MI,80,79,0.7523,A,88.0,15.0,0.0
108001800065,ATLANTICO,OFICIAL,A,MI,68,59,0.6228,C,0.0,0.0,100.0
113001800263,BOLIVAR,OFICIAL,A,MI,214,183,0.5674,D,0.0,6.0,0.0
415764800015,BOYACA,NO OFICIAL,A,MI,26,25,0.7457,A,13.0,0.0,0.0

### 8. Create input set / target variable

In [41]:
toy_set.columns

Index(['COLE_DEPTO_COLEGIO', 'COLE_NATURALEZA', 'COLE_CALENDARIO_COLEGIO',
       'COLE_GENEROPOBLACION', 'MATRICULADOS_ULTIMOS_3', 'EVALUADOS_ULTIMOS_3',
       'INDICE_TOTAL', 'COLE_CATEGORIA', 'DESKTOPS', 'LAPTOPS', 'TABLETS'],
      dtype='object')

In [42]:
renames = {
    'COLE_DEPTO_COLEGIO':'REGION'
    , 'COLE_NATURALEZA':'PUBLIC_SCHOOL'
    , 'COLE_CALENDARIO_COLEGIO':'CALENDAR'
    , 'COLE_GENEROPOBLACION':'GENDER'
    , 'MATRICULADOS_ULTIMOS_3':'ENROLLED_LAST_3_YEARS'
    , 'EVALUADOS_ULTIMOS_3':'EVALUATED_LAST_3_YEARS'
    , 'INDICE_TOTAL':'TOTAL_SCORE'
    , 'COLE_CATEGORIA':'RANKING'
    , 'DESKTOPS':'DESKTOPS'
    , 'LAPTOPS':'LAPTOPS'
    , 'TABLETS':'TABLETS'
}

In [ ]:
target_variable = 'COLE_CATEGORIA'

In [ ]:
X = toy_set.drop(columns=)

In [ ]:
Y = toy_set[target_variable].copy()

In [ ]:
def dummifier(df, column):
    dummies = pd.get_dummies(df[column], prefix=column).astype('int64')
    df = pd.concat([df, dummies], axis=1)
    df.drop(columns=[column], inplace=True)
    del(dummies)
    return df

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(digits.data, digits.target, test_size=0.25, random_state=0)

In [ ]:
sns.boxplot(x="COLE_DEPTO_COLEGIO"
            , y="INDICE_TOTAL"
            , hue="COLE_NATURALEZA"
            , palette=["m", "g"]
            , data=toy_set
           )
sns.despine(offset=10, trim=False)